* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #fff;
  }
  
  body {
    background-color: #0e1129;
    padding: 2rem;
  }
  
  p {
    text-align: center;
  }

  .AboutMe{
    font-size: 1.1rem;
    font-weight: bold;
  }

  .Underline{
    text-decoration: underline !important;
  }
  
  a {
    text-decoration: none;
  }